/.adobe
/.android
/.anyRemote
/.AppleDesktop
/.AppleDouble
/.appletviewer
/.apport-ignore.xml
/.aptitude
/.bash_history
/.bazaar
/.blender
/.bogofilter
/.bzr.log*
/.cache
/.ccache
/.certs
/.compiz
/.comsol
/.config
/.cups
/.cvpcb
/.dia
/.dmrc
/.eagle
/.eaglerc
/.ec2
/.eeschema
/.electrum
/.enthought
/.esd_auth
/.flexlmrc
/.fontconfig
/.fonts
/.forward
/fp-lib-table
/.FreeCAD
/.freerdp
/.FrontDesign
/.FrontPanel
/.gconf
/.gdb_history
/.gEDA
/.gerbview
/.gimp-*
/.gitconfig.local
/.gitk
/.gksu.lock
/.gmshrc
/.gnome
/.gnome2
/.gnuradio
/.googleearth
/.grc
/.gstreamer-*
/.hugin
/.ICEauthority
/.icedtea
/.icons
/.instant
/.ipython
/.irclogs
/.jackdrc
/.java
/.jtag
/.kde
/.kicad*
/kicad-*
/.klayout*
/.launchpadlib
/.lesshst
/.libao
/.libquicktime_codecs
/.local
/.macromedia
/.Mathematica
/.matlab
/.mlabs
/.mozilla
/.mplayer
/.mutt/aliases
/.mutt/cache
/.mutt/certificates
/.mysql_history
/.nemiver
/.netrc
/.nv
/.nvidia-settings-rc
/.offlineimap
/.pam_environment
/.pcb
/.pcbnew
/pcbnew-*
/_autosave*.kicad*
/.pip
/.pki
/.pulse
/.purple
/.pylint.d
/.pypirc
/.python*_compiled
/.python_history
/.pyzor
/.qt
/.qucs
/.remmina
/.ropeproject
/.rpmdb
/.s3cfg
/.slocdata
/.smb
/.sqlite_history
/.ssl
/.subversion
/.sudo_as_admin_successful
/.thumbnails
/.thunderbird
/.tox
/.unison
/.vim/bundle
/.viminf*
/.vim/.netrwhist
/.virt-manager
/.VirtualBox
/.w3m
/.wine
/.wireshark
/.Xauthority*
/.Xilinx
/.xinputrc
/.xsession-errors*
/*.kicad_pcb.lock
/*.lock
/.bitcoin
/.synaptic

/.ssh/*
!/.ssh/config.global
/.gnupg/*
!/.gnupg/gpg.conf

/Desktop
/Documents
/Downloads
/Movies
/Music
/Pictures
/Public
/Templates
/Videos
/public_html

/work/*
!/work/.keep_me
/data/*
!/data/.keep_me
/tmp/*
!/tmp/.keep_me
/src/*
!/src/.keep_me
/.vim-tmp/*
!/.vim-tmp/.keep_me
/scratch/*
!/scratch/.keep_me
