*.swp
*.swo
~*
*.orig
*.rej
*.pyc
*.pyo

*.vcd

*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sqlite

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.Trash
Thumbs.db

/.Xauthority
/.ICEauthority
/.account
/.bash_history
/.bazaar
/.bzr.log
/.cache
/.ccache
/.certs
/.config
/.compiz
/.cups
/.dmrc
/.gksu.lock
/.ec2
/.fontconfig
/.fonts
/.flexlmrc
/.gdb_history
/.gitconfig.local
/.gnupg
/.gnome
/.gconf
/.ipython
/.java
/.kicad
/.kicad_common
/.lesshst
/.local
/.macromedia
/.mozilla
/.mutt/aliases
/.mutt/cache
/.mutt/certificates
/.mplayer
/.mysql_history
/.netrc
/.offlineimap
/.pam_environment
/.pip
/.pypirc
/.pymt
/.pki
/.python_history
/.sqlite_history
/.ssh
/.ssl
/.thumbnails
/.gstreamer-*
/.tox
/.vim/bundle
/.vim-tmp
/.viminfo
/.viper
/.xsession-errors*
/.wine
/.wireshark
/.Xilinx
/.xinputrc

/Desktop
/Documents
/Downloads
/Movies
/Music
/Pictures
/Public
/Templates

/work
/data
/tmp
