# vim: set ts=4 sts=4 sw=4 et:

[color]
    ui = auto
[user]
    name = Robert Jordens
    email = jordens@gmail.com
[core]
    excludesfile = ~/.gitignore.global
    pager = less -F -X
[merge]
    tool = vimdiff
    summary = true
[push]
    default = current
#[rerere]
#   enabled = true
[github]
    user = jordens
#[init]
#    templatedir = ~/.git_template
[interactive]
    singlekey = true
[rebase]
    autosquash = true
[include]
    path = ~/.gitconfig.local
[alias]
    log1 = log --pretty=oneline --decorate
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    co = checkout
    br = branch
    st = status
    di = diff
    ds = diff --stat=160,120
    dc = diff --cached
    dh1 = diff HEAD~1
    aa = add --all
    unstage = reset HEAD
    ci = commit --verbose
    amend = commit --amend
    uncommit = reset --soft HEAD~
    pom = push origin master
    fa = fetch --all
    up = pull origin
    pr = pull --rebase
    pullff = pull --ff-only
    ff = merge --ff-only
    noff = merge --no-ff
    # https://gist.github.com/nh2/66e1cd83a86da7fe43b1
    # Usage: git signoff-rebase [base-commit]
    signoff-rebase = "!EDITOR='sed -i -re s/^pick/e/' sh -c 'git rebase -i $1 && while test -f .git/rebase-merge/interactive; do git commit --amend --signoff --no-edit && git rebase --continue; done' -"
    # Ideally we would use GIT_SEQUENCE_EDITOR in the above instead of EDITOR
    # but that's not supported for git < 1.7.8.
