*.swp
*.swo
~*
*.orig
*.rej
*.pyc
*.pyo

*.vcd

*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite

.DS_Store
.DS_Store?
._*
/.Spotlight-V100
/.Trashes
/.Trash
ehthumbs.db
Thumbs.db
/.Xauthority
/.ICEauthority
/.account
/.bash_history
/.bazaar
/.bzr.log
/.cache
/.ccache
/.certs
/.config
/.compiz
/.cups
/.dmrc
/.gksu.lock
/.ec2
/.fontconfig
/.fonts
/.flexlmrc
/.gdb_history
/.gitconfig.local
/.gnupg
/.gnome
/.gconf
/.history
/.ipython
/.java
/.kicad
/.kicad_common
/.lesshst
/.local
/.localized
/.macromedia
/.mozilla
/.mutt/aliases
/.mutt/cache
/.mutt/certificates
/.mplayer
/.mysql_history
/.netrc
/.npm
/.offlineimap
/.pam_environment
/.pip
/.pypirc
/.pymt
/.pki
/.python-eggs
/.python_history
/.sqlite_history
/.ssh
/.ssl
/.thumbnails
/.gstreamer-*
/.tox
/.trc
/.vim/bundle
/.vim-tmp
/.vim/.netrwhist
/.viminfo
/.vimprojects
/.viper
/.xsession-errors*
/.wine
/.wireshark
/.Xilinx
/.xinputrc
/Desktop
/Documents
/Downloads
/Dropbox
/Gmail
/Library/*
/Movies
/Music
/Pictures
/Public
/Sites
/work
/data
/tmp
