# vim:set ts=4 sts=4 sw=4 expandtab:

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto
[user]
    name = Robert Jordens
    email = jordens@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitignore.global
[merge]
    tool = vimdiff
[alias]
    log1 = log --pretty=oneline --decorate
    co = checkout
    br = branch
    st = status
    di = diff
#    ds = diff --stat
    ds = diff --stat=160,120
    dc = diff --cached
    dh1 = diff HEAD~1
    aa = add --all
    unstage = reset HEAD
    ci = commit --verbose
    amend = commit --amend
    uncommit = reset --soft HEAD~
    pom = push origin master
    fa = fetch --all
    up = pull origin
    pr = pull --rebase
    pullff = pull --ff-only
    ff = merge --ff-only
    noff = merge --no-ff

#[push]
#    default = simple
#[rerere]
#    enabled = true
[include]
    path = ~/.gitconfig.local
